In [2]:
c='a'
type(c)

str

In [4]:
c=0
c=5/2
type(c)

float

In [5]:
name,rollno,age = 'python',123,23.5
print(type(name),type(rollno),type(age))

<class 'str'> <class 'int'> <class 'float'>

In [7]:
a,b=10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [8]:
2**5

32

In [9]:
pow(2,5)

32

In [4]:
n1=input("enter the first number")
n2=input("enter the second number")
n3=input("enter the third number")
if n1>n2 and n1>n3:
    print(n1, "is the greatest")
elif n2>n3:
    print(n2,"is the grestest")
else:
    print(n3,"is the greatest")

enter the first number23
enter the second number34
enter the third number45
45 is the greatest

In [6]:
5 not in [1,2,3,4]

True

In [7]:
5 is 4

False

In [10]:
5 is not 10

True

In [11]:
'abc' is 'abc'

True

In [13]:
# CONDITIONAL & CONTROL STATEMENTS

if (7<6):
    print("true")
elif(6<7):
    print("true")
else:
    print("false")

true

In [15]:
# ITERATIVE STATEMENTS

# range(10)
range(2,10,2)

range(2, 10, 2)

In [17]:
for x in range(2,10,2):
    print(x,end=" ")

2 4 6 8

In [18]:
# WHILE LOOP

num=1
while num<6:
    print(num)
    num+=1

1
2
3
4
5

In [21]:
# FOR LOOP

for i in 1,2,3:
    print(i)

1
2
3

In [22]:
for i in range(10,4,-1):
    print(i)

10
9
8
7
6
5

In [29]:
for i in "hai":
    print(i)

h
a
i

In [30]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [37]:
print(1,2,sep=",")
print(3,sep=";")

1,2
3

In [38]:
print(1,2,sep=",",end="*")
print(3,sep=";")

1,2*3

In [40]:
n=input("enter value:")
print(n)

enter value:12.3
12.3

In [43]:
n=input("enter value:")
print(n,type(n))

enter value:12.3
12.3 <class 'str'>

In [47]:
1+int("2")

3

In [49]:
num=10
print(num)
print(num)

10
10

In [52]:
l=[1,10,20]
l[2]

20

In [57]:
data.split(" ")

['1', '3', '5', '7', '8']

In [58]:
# PRINT LENGTH OF THE GIVEN LIST

data=input()#1 3 5 7 8
count=0
for char in data.split(" "):
    count+=1
    #print(char)
print(count)

1 3 5 7 8
5

In [60]:
data=input()
len(data.split())

1 3 5 7 8

5

In [61]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [2]:

data=input()#1,3,5
values=data.split(",")#['1','3','5']
s=0
for value in values:
    s+=int(value)
print(s)

1,3,5
9

In [8]:
data=input()
values=data.split(",")#['1','2','3']
#map(method_name,list_of_values)
int_values=list(map(int,values))
sum(int_values)

1,2,3

6

In [1]:
l=['1','2','3']
r=[]
for value in l:
    r.append(int(value))
r

[1, 2, 3]

In [20]:
# 1+2+15+63+3
# 1
# 63
n=input()
values=n.split("+")
int_values=list(map(int,values))
print(min(int_values))
print(max(int_values))

1+2+15+63+3
1
63

In [ ]:
# t-> number of testcase
# next t lines input

3
4+5   ->4\n5
5+77+0->0\n77
5+7    ->5\n7

n=input().split("+")
int_values=list(map(int,values))