In [2]:
# SUM

data=input()
values=data.split("+")
s=0
for value in values:
    s+=int(value)
print(s)

1+2+3+4+5
15

In [5]:
s="sirisha"
s[::-1]

'ahsiris'

In [6]:
s[:]

'sirisha'

In [7]:
s="sirisha"
print(s.upper())
print(s)

SIRISHA
sirisha

In [9]:
s="sirisha"
s=s.upper()
print(s)

SIRISHA

In [11]:
s="SIRISHA"
print(s.lower())
print(s)

sirisha
SIRISHA

In [12]:
s="SIRISHA"
s=s.lower()
print(s)

sirisha

In [14]:
s="sirisha"
print(s.startswith('s'))

True

In [15]:
main="sirisha"
sub='p'
print(main.startswith(sub))

False

In [16]:
s="sirisha"
print(main.endswith(s))

True

In [17]:
s='123'
print(s.isdigit())

True

In [18]:
s='siri123'
print(s.isdigit())

False

In [20]:
s="sirisha vadapalli"
result=s.split()
print(result)

['sirisha', 'vadapalli']

In [2]:
# 1.PRINT GIVEN CHARACTERS AS A WORD WITH STARTING CHARACTER CAPITAL FORM AND REMAINING LOWER

# A P S S D C
# Apssdc

s=input()
s=s.capitalize().replace(' ',"")
print(s)

A P S S D C
Apssdc

In [6]:
# A P S S D C

characters=input()
word=characters.split()
''.join(word).capitalize()

A P S S D C

'Apssdc'

In [38]:
s="sirisha"
print(s.isupper())

False

In [39]:
s="sirisha"
print(s.islower())

True

In [40]:
s="sirisha"
print(s.isalpha())

True

In [42]:
s="sirisha98"
print(s.isalpha())

False

In [43]:
s="sirisha vadapalli"
print(s.swapcase())

SIRISHA VADAPALLI

In [45]:
s="sirisha vadapalli"
print(s.title())

Sirisha Vadapalli

In [7]:
# 2.Print the maximum length word of given words
# Hai hello world
# hello
# world

words=input().split()
lengths=[]
for word in words:
    lengths.append(len(word))
max_length=max(lengths)
for word in words:
    if max_length==len(word):
        print(word)

hai hello world
hello
world

In [8]:
# LIST COMPREHENSION
words=input().split()
[print(word)for word in words if max(list(map(len,words)))==len(word)]

hai hello world
hello
world

[None, None]

In [9]:
words=input().split()
max_length=max(list(map(len,words)))
for word in words:
    if max_length==len(word):
        print(word)

hai hello world
hello
world

In [11]:
# 3.Print all the words which starts with the given character, If no words matches with the given condition you should print -1
#  ramu ravi balu
# r
# ramu
# ravi

words=input().split()
c=input()
match=0
for word in words:
    if word.startswith(c):
        print(word)
        match+=1
if match==0:
    print(-1)

ramu ravi balu
r
ramu
ravi

In [ ]:
# 4.Print all the words which words not ends with vowels(a,e,i,o,u)
# ramu ravi balu raju mahesh
# mahesh

In [23]:
# 5. Print all the words which word contains duplicate characters
# ramu akash balu
# akash

names=input().split() #['rami','akash','balu']
for name in names:
    for ch in name:
        if name.count(ch)>1:
            print(name)
            break

ramu akash balu
akash

In [4]:
# 6.Swap the case of all characters in given string except last character
# HellowOrld
# hELLOWoRLd


swap_case=input()
s=swap_case.swapcase()
print(s)

 HellowOrld
 hELLOWoRLD

In [12]:
word=input()
word[:-1].swapcase()+word[-1]

HellowOrld

'hELLOWoRLd'

In [14]:
# 7.Print the number of words in a given string (here word starting character contains UPPER letter)
# HelloWorld
# 2

word=input()
count=0
for char in word:
    if char.isupper():
        count+=1
print(count)

HelloWorld
2

In [16]:
len(list(filter(str.isupper,input())))

HelloWorld

2

In [ ]:
# 8.Print the number of digits, alphabets and any other 
# www.way2sms.com
# DIGITS 1
# ALPHABETS  12
# OTHER 2


digit_alpha_other=input()

### Tupples:

In [18]:
li=[i for i in range(10)]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
li=[]
for i in range(10):
    li.append(i)
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
# SQUARE VALUES
li=[i*i for i in range(10)]
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
# 5 MULTIPLES
li=[5*i for i in range(1,11)]
li

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [26]:
#1.Print even and odd numbers up to given range.

#### input : 10 
#### output:
#### even numbers -->  2,4,6,8,10
#### odd numbers --> 1,3,5,7,9

li=[i for i in range(0,11,2)]
print(li)

[0, 2, 4, 6, 8, 10]

In [30]:
li=[i for i in range(1,10,2)]
print(li)

[1, 3, 5, 7, 9]

In [ ]:
# 2..print given numbers prime or not.

#### input: --> 5 9
#### output: -->5  True
####         9   False